h1 {
    font-size: 20px;
    color: gray;
    font-weight:400;
}

h2 {
font-size: 20px;
color: gray;
font-weight: 400;
}

button {
background: orange;
color: whitesmoke;
padding: 20px 50px;
border: orange;
border-style: solid;
margin-right: 12px;
}

button:hover {
    background-color: white;
    color: orange;
    border-style: solid;
}